In [1]:
import findspark
findspark.init('/home/spark/spark-2.4.5-bin-hadoop2.6/')

In [2]:
#Start SparkSession
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Operations").getOrCreate()

In [4]:
#take dataframe from local machine
df = spark.read.csv('appl_stock.csv', inferSchema=True, header=True)

In [5]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

### Filtering Data

In [6]:
#Using SQL
df.filter('Close>400').show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2011-07-26 00:00:00|        399.999996|        404.499992|399.67998900000003|        403.410007|119145600|         52.265619|
|2011-09-16 00:00:00|395.54000099999996|        400.500008|395.03000299999997|        400.500008|174628300|         51.888601|
|2011-09-19 00:00:00|        397.000008|        413.229992|        395.199993|        411.630009|205965200|         53.330599|
|2011-09-20 00:00:00|        415.250011|        422.860012|        411.189999|        413.449997|193938500|         53.566396|
|2011-09-21 00:00:00|        419.639992|        421.589996|        412.000004|412.14000699999997|151494000|         53.396674|
|2011-09-22 00:00:00|        401.030006|        409.820007|        396.700001|401.82001099999997|242120200|          52.05962|
|2011-09-23 00:00:00|400.28000299999997|         406.73999|        399.850006|        404.299988|136569300|         52.380925|
|2011-09-26 00:00:00|399.85999300000003|        403.980007|        391.300011|        403.170002|203219100|         52.234524|
|2011-10-11 00:00:00|            392.57|403.17998900000003|        391.499989|        400.289989|151421900|         51.861391|
|2011-10-12 00:00:00|        407.340004|        409.250008|400.13999900000005|        402.190006|155571500|         52.107557|
|2011-10-13 00:00:00|404.98000299999995|408.42998900000003|402.84999500000004|408.42998900000003|106546300|         52.916006|
|2011-10-14 00:00:00|        416.829994|        421.999992|        415.270012|        421.999992|143341800|54.674130000000005|
|2011-10-17 00:00:00|        421.740013|426.69999299999995|415.93998700000003|        419.990013|171511200|         54.413718|
|2011-10-18 00:00:00|        421.759987|         424.80999|        415.990002|422.23999800000007|220400600|         54.705225|
|2011-10-24 00:00:00|396.17998900000003|        406.500011|        395.399998|        405.770008|125534500|52.571380000000005|
|2011-10-26 00:00:00|         401.76001|        402.549988|        393.150013|         400.60001|114076200|51.901557000000004|
|2011-10-27 00:00:00|        407.560009|        408.999989|401.88999900000005|404.69001000000003|123666200|52.431456000000004|
|2011-10-28 00:00:00|        403.000011|406.34999500000004|        402.509987|        404.949989| 80710700|         52.465139|
|2011-10-31 00:00:00|        402.419998|409.33000899999996|        401.050007|404.77999900000003| 96375300|         52.443115|
|2011-11-03 00:00:00|399.06998799999997|        403.399994|        395.359997|            403.07|110346600|         52.221568|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [7]:
#Using SQL with .select()
df.filter("Close<400").select('Open').show()

+------------------+
|              Open|
+------------------+
|        213.429998|
|        214.599998|
|        214.379993|
|            211.75|
|        210.299994|
|212.79999700000002|
|209.18999499999998|
|        207.870005|
|210.11000299999998|
|210.92999500000002|
|        208.330002|
|        214.910006|
|        212.079994|
|206.78000600000001|
|202.51000200000001|
|205.95000100000001|
|        206.849995|
|        204.930004|
|        201.079996|
|192.36999699999998|
+------------------+
only showing top 20 rows

In [8]:
df.filter("Close<400").select(['Open', 'Close', 'High', 'Low']).show()

+------------------+------------------+------------------+------------------+
|              Open|             Close|              High|               Low|
+------------------+------------------+------------------+------------------+
|        213.429998|        214.009998|        214.499996|212.38000099999996|
|        214.599998|        214.379993|        215.589994|        213.249994|
|        214.379993|        210.969995|            215.23|        210.750004|
|            211.75|            210.58|        212.000006|        209.050005|
|        210.299994|211.98000499999998|        212.000006|209.06000500000002|
|212.79999700000002|210.11000299999998|        213.000002|        208.450005|
|209.18999499999998|        207.720001|209.76999500000002|        206.419998|
|        207.870005|        210.650002|210.92999500000002|        204.099998|
|210.11000299999998|            209.43|210.45999700000002|        209.020004|
|210.92999500000002|            205.93|211.59999700000003|        205.869999|
|        208.330002|        215.039995|215.18999900000003|        207.240004|
|        214.910006|            211.73|        215.549994|        209.500002|
|        212.079994|        208.069996|213.30999599999998|        207.210003|
|206.78000600000001|            197.75|        207.499996|            197.16|
|202.51000200000001|        203.070002|        204.699999|        200.190002|
|205.95000100000001|        205.940001|        213.710005|        202.580004|
|        206.849995|        207.880005|            210.58|        199.530001|
|        204.930004|        199.289995|        205.500004|        198.699995|
|        201.079996|        192.060003|        202.199995|        190.250002|
|192.36999699999998|        194.729998|             196.0|191.29999899999999|
+------------------+------------------+------------------+------------------+
only showing top 20 rows

In [11]:
#Another way of filtering
df.filter(df['Close'] > 600).show(10)

+-------------------+-----------------+-----------------+-----------------+-----------------+---------+---------+
|               Date|             Open|             High|              Low|            Close|   Volume|Adj Close|
+-------------------+-----------------+-----------------+-----------------+-----------------+---------+---------+
|2012-03-19 00:00:00|        598.37001|601.7699809999999|       589.050011|       601.100006|225309000|77.878247|
|2012-03-20 00:00:00|        599.51001|       606.899979|       591.480026|       605.959984|204165500|78.507903|
|2012-03-21 00:00:00|        602.73999|       609.650002|601.4100269999999|602.4999849999999|161010500|78.059627|
|2012-03-26 00:00:00|       599.790016|       607.150024|       595.259979|        606.97998|148935500|78.640054|
|2012-03-27 00:00:00|       606.180016|       616.280006|       606.060013|614.4800190000001|151782400|79.611755|
|2012-03-28 00:00:00|618.3799740000001|       621.450005|610.3099900000001|        617.62001|163865100|80.018571|
|2012-03-29 00:00:00|       612.780006|       616.560013|       607.230026|609.8599929999999|152059600|79.013187|
|2012-04-02 00:00:00|       601.830009|       618.769997|        600.37999|618.6300200000001|149587900|80.149428|
|2012-04-03 00:00:00|       627.300018|       632.209984|       622.510002|       629.319984|208639900|81.534415|
|2012-04-04 00:00:00|       624.349991|625.8599849999999|       617.000023|624.3099900000001|143245200|80.885322|
+-------------------+-----------------+-----------------+-----------------+-----------------+---------+---------+
only showing top 10 rows

In [13]:
#Collecting results as Python objects
result = df.filter(df['Low']==213.249994).collect()

In [21]:
type(result)

list

In [16]:
type(result[0])

pyspark.sql.types.Row

In [19]:
row = result[0]

In [22]:
row.asDict()

{'Adj Close': 27.774976000000002,
 'Close': 214.379993,
 'Date': datetime.datetime(2010, 1, 5, 0, 0),
 'High': 215.589994,
 'Low': 213.249994,
 'Open': 214.599998,
 'Volume': 150476200}

In [24]:
row_dict = row.asDict()

In [28]:
row_dict

{'Adj Close': 27.774976000000002,
 'Close': 214.379993,
 'Date': datetime.datetime(2010, 1, 5, 0, 0),
 'High': 215.589994,
 'Low': 213.249994,
 'Open': 214.599998,
 'Volume': 150476200}

In [33]:
for item in row_dict.items():
    print(item)

('High', 215.589994)
('Adj Close', 27.774976000000002)
('Volume', 150476200)
('Date', datetime.datetime(2010, 1, 5, 0, 0))
('Close', 214.379993)
('Open', 214.599998)
('Low', 213.249994)