In [1]:
import findspark
findspark.init('/home/spark/spark-2.4.5-bin-hadoop2.6/')

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Missingdata').getOrCreate()

In [18]:
#import data from local file
df = spark.read.csv('ContainsNull.csv', inferSchema=True, header=True)

In [5]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [7]:
#Dropping missing data
#how='any' means drop a row if it contains any nulls(default)
#how='all' means drop a row if it contains all nulls

In [8]:
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [9]:
#If thresh=2, then it considers that the min null values to be 2. If more than 2 nulls arethere then only
#it drops otherwise it doesn't drop

In [10]:
df.na.drop(thresh=3).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [11]:
#If we use subset=['a col'], it considers only nulls in that column
df.na.drop(subset=['Sales']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

### Filling Missing Values

In [19]:
df.na.fill('NewValue').show()#Spark is smart enough to fill the missing value we provided based on datatype

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| null|
|emp2|NewValue| null|
|emp3|NewValue|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

In [20]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+